body { 
   background-color : #F5F5F5; 
   color:#191970;
   font-family: 'Roboto', sans-serif;  
   font-size: 15px;
   line-height: 1.6 ; 

   
}


   


h1, h2 { 
  color: #191970; 
  font-family: 'Roboto', sans-serif; 
  font-weight: 100; 
  letter-spacing: 2px; 
  font-size: 20px; 
  font-weight: bold;
  text-align: center; 


}

hr { 
	color: #191970;

}

h3 { 
	color: #CDB7B5; 
	font-family: 'Roboto', sans-serif; 
    font-weight: 100; 
    letter-spacing: 2px; 
    font-size: 20px; 
    font-weight: bold;

}




/* Custon design with class */


.container { 
	width: 700px;
	margin: 40px auto; 
	}


.btn-style {
    list-style-type: none;
    background-color:#F5F5F5 ;
    padding:5px;
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 16px;
    text-align: center; 
}

.card-white { 
	background: white;
	padding: 20px;
	border-radius: 4px; 
	box-shadow: 0 10px 30px rgba(0,0,0,.1)
	text-align : center;
	margin: 40px; 
	}

.img-circle { 
	border-radius: 50%; 
	text-align-last: center; 

}

.presentation { 
	margin-top: 5px; 
	margin-bottom: 5px; 
	text-align: center; 
	padding: 5px; 
	font-weight: bold; 
	font-style: 'Roboto', sans-serif; 

}
.list-inline {
  list-style-type: none;
}

.date-style {
	color: #CDB7B5; 
	font-family: 'Roboto', sans-serif; 
    letter-spacing: 2px; 
    
}

.btn-blue {
	background-color: #CDB7B5; 
	color: white; 
	padding: 10px 15px; 
	border-radius: 4px; 
	text-decoration: none;
}	

.btn-blue:hover {
  background-color: #191970;
}


.title-background {
background-color : #F5F5F5; 
color: #191970; 
padding-left: 5px; 

}


.btn-style li {

	/*display: inline;*/
	margin: 0px;

}

.list-competences {
	font-size: 15px;  
	color:#191970 ;
	list-style-type: none;
	margin-top: 50px; 
	
}

.list-competences li {
	font-family: 'Roboto', sans-serif; 
	line-height: 1.6; 
	margin-top: 30px; 

}

.list-competences i {
	color:#CDB7B5 ;
	font-size: 20px;
	padding-right: 5px;  

}

.list-competences i:hover {
	color: #191970;


}


.list-social {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;

}

.list-social li {
	display: inline;
	padding: 10px; 




}

.list-social i {
	font-size: 50px;
	color: #CDB7B5;

}

.list-social i:hover {
	color: #191970;

}


@media(max-width: 960px) { 
	.container { 
		width: 700px ;
	}
}

@media(max-width: 960px) {
	.btn-style li{
		display: inline;
		margin: 0px;
	}
}

@media(max-width: 720px) { 
	.container { 
		width: 500px;
	}
}

@media(max-width: 540px) { 
	.container { 
		width: 300px;
	}
}

@media(max-width: 540px) { 
	.btn-style li {
		display: block;
		margin: 0px;
	}	
}

@media (max-width: 320px) { 
	.container { 
		width: 100px;
	}
}

@media(max-width: 540px) { 
	.btn-style li {
		display: block;
		margin: 0px;
	}	
}
	